doctype html
html(lang='en')
    include _mixins/text-input
    head
        meta(charset='utf-8')
        title <_creator>
    body
        h1 <_creator>
        form
            ul
                li: +text-input('Formatted Name', 'fn')

                //- <n>
                li: +text-input('Honorific Prefix')
                li: +text-input('Given Name')
                li: +text-input('Additional Name')
                li: +text-input('Family Name')
                li: +text-input('Honorific Suffix')

                li: +text-input('Logo')
                li: +text-input('Nickname')
                li: +text-input('Org')
                li: +text-input('Photo')
                li: +text-input('URL')
                li: +text-input('Email')
                li: +text-input('Telephone', 'tel')

                //- <adr>
                li: +text-input('Street Address')
                li: +text-input('Extended Address')
                li: +text-input('Post Office Box')
                li: +text-input('Locality')
                li: +text-input('Region')
                li: +text-input('Postal Code')
                li: +text-input('Country Name')

                //- <geo>
                li: +text-input('Latitude')
                li: +text-input('Longitude')

                li: +text-input('Birthday', 'bday')
                li: +text-input('Category')
                li: +text-input('Note')

