.card-form {
    fieldset {
        font-size: large;
        font-weight: bold;
    }

    input {
        @include column(7/8);
        padding: 0.5rem;
    }

    label {
        @include column(1/8);
        text-align: right;
    }
}

.card-form__item {
    padding: 2rem;

    > label {
        text-transform: capitalize;
    }
}

.card-form__item-label_required {
    color: tomato;
    font-weight: bold;
}

.card-form__submit-button {
    @extend .btn;
    @extend .btn-primary;
    @include center();
    margin-bottom: 1.5rem;
    margin-top: 4.5rem;
    width: 95%;
}
